html, body {
    margin: 0;
    user-select: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#title {
    height: 120px;
    margin: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    justify-content: center;
    height: 750px;
    min-height: 300px;
    overflow: hidden;
    padding-bottom: 1px;
    margin-bottom: -1px;
}

#pions {
    height: 100%;
    width: 370px;
    min-width: 370px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#self, #opponent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#self::-webkit-scrollbar, #opponent::-webkit-scrollbar {
    display: none;
}

#self div, #opponent div {
    cursor: pointer;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 35px;
}

#opponent {
    display: none;
}

#pions #ready {
    cursor: pointer;
    height: 35px;
    width: 170px;
    padding: 0;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 17px;
}

#stratego {
    height: 100%;
    width: 750px;
    border-collapse: collapse;
}

#stratego td {
    width: 10%;
    height: 10%;
    border: 1px solid black;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

#chat {
    height: 100%;
    width: 370px;
    min-width: 370px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chat form input {
    width: 100%;
    height: 25px;
    font-size: 16px;
}

#messages {
    padding: 0;
    margin-top: 0;
    height: 100%;
    list-style-type: none;
    word-wrap: break-word;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: text;
    border : solid grey 1px;
    box-shadow: 0px 51px 100px -60px grey inset;
}

#messages::-webkit-scrollbar {
    display: none;
}

#stratego td {
    -webkit-text-stroke: 0; 
    color: transparent;
    font-size: 2.5em;
    font-weight: bold;
}

[data-pion="null"] {
    background-color: lightgray;
    border: none;
}
[data-pion="-1"] {
    background-color: darkslategrey;
}
[data-pion="0"] {
    background-color: white;
}
[data-pion="1"] {
    background-image: url("../ressources/image/default/1.png");
}
[data-pion="2"] {
    background-image: url("../ressources/image/default/2.png");
}
[data-pion="3"] {
    background-image: url("../ressources/image/default/3.png");
}
[data-pion="4"] {
    background-image: url("../ressources/image/default/4.png");
}
[data-pion="5"] {
    background-image: url("../ressources/image/default/5.png");
}
[data-pion="6"] {
    background-image: url("../ressources/image/default/6.png");
}
[data-pion="7"] {
    background-image: url("../ressources/image/default/7.png");
}
[data-pion="8"] {
    background-image: url("../ressources/image/default/8.png");
}
[data-pion="9"] {
    background-image: url("../ressources/image/default/9.png");
}
[data-pion="10"] {
    background-image: url("../ressources/image/default/10.png");
}
[data-pion="11"] {
    background-image: url("../ressources/image/default/11.png");
}
[data-pion="12"] {
    background-image: url("../ressources/image/default/12.png");
}

[data-pion="&0"] {
    background-color: white;
    filter: grayscale(80%);
}
[data-pion="&1"] {
    background-image: url("../ressources/image/default/1.png");
    filter: grayscale(80%);
}
[data-pion="&2"] {
    background-image: url("../ressources/image/default/2.png");
    filter: grayscale(80%);
}
[data-pion="&3"] {
    background-image: url("../ressources/image/default/3.png");
    filter: grayscale(80%);
}
[data-pion="&4"] {
    background-image: url("../ressources/image/default/4.png");
    filter: grayscale(80%);
}
[data-pion="&5"] {
    background-image: url("../ressources/image/default/5.png");
    filter: grayscale(80%);
}
[data-pion="&6"] {
    background-image: url("../ressources/image/default/6.png");
    filter: grayscale(80%);
}
[data-pion="&7"] {
    background-image: url("../ressources/image/default/7.png");
    filter: grayscale(80%);
}
[data-pion="&8"] {
    background-image: url("../ressources/image/default/8.png");
    filter: grayscale(80%);
}
[data-pion="&9"] {
    background-image: url("../ressources/image/default/9.png");
    filter: grayscale(80%);
}
[data-pion="&10"] {
    background-image: url("../ressources/image/default/10.png");
    filter: grayscale(80%);
}
[data-pion="&11"] {
    background-image: url("../ressources/image/default/11.png");
    filter: grayscale(80%);
}
[data-pion="&12"] {
    background-image: url("../ressources/image/default/12.png");
    filter: grayscale(80%);
}