html, body {
    margin: 0;  
}

#title {
    text-align: center;
}

#main {
    display: flex;
    justify-content: space-evenly;
}

#pions {
    width: 25%;
    margin: 0;
    padding: 0;
}

#pions li {
    cursor: pointer;
    height: 10%;
    width: 60%;
    border: 1px solid black;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stratego {
    height: auto;
    border-collapse: collapse;
}

#stratego td {
    border: 1px solid black;
    width: 4vw;
    height: 4vw;
    text-align: center;
}

[data-pion="undefined"] {
    background-color: white;
    border: none;
}
[data-pion="0"] {
    background-color: lightgrey;
}
[data-pion="1"] {
    background-image:url("../ressources/image/espion.png");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="2"] {
    background-image:url("../ressources/image/hermes.jpg");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="3"] {
    background-image:url("../ressources/image/hephamachintruc.jpg");
    background-repeat: no-repeat;
    background-size:26%;
}
[data-pion="4"] {
    background-image:url("../ressources/image/casquev2.jpg");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="5"] {
    background-image:url("../ressources/image/casque.jpg");
    background-repeat: no-repeat;
    background-size:24%;
}
[data-pion="6"] {
    background-image:url("../ressources/image/centaure.jpg");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="7"] {
    background-image:url("../ressources/image/minautore.jpg");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="8"] {
    background-image:url("../ressources/image/cyclope.jpg");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="9"] {
    background-image:url("../ressources/image/ares.jpg");
    background-repeat: no-repeat;
    background-size:24%;
}
[data-pion="10"] {
    background-image:url("../ressources/image/zeus.jpg");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="11"] {
    background-image:url("../ressources/image/eclairzeus.jpg");
    background-repeat: no-repeat;
    background-size:28%;
}
[data-pion="12"] {
    background-image:url("../ressources/image/soldat.jpg");
    background-repeat: no-repeat;
    background-size:26%;

}

#chat {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chat form input {
    width: 80%;
    height: 20px;
}

#messages {
    list-style-type: none;
    padding: 0;
}