body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 50px;
}

#info {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 275px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 0 0 20px 0;
    font-size: 1.1em;
}

#info p {
    margin: 0;
}

#username {
    font-size: 1.5em;
}

#logout {
    margin: 5px;
    padding: 5px;
    overflow: visible;
}

.button3d {
    font-weight: bold;
    font-size: 1.5em;
    width: 150px !important;
    margin-bottom: 0;
}

.button3d div {
    border: none !important;
}

.formfield-select {
	position: relative;
    width: 120px;
    text-align: center;
}

.formfield-select--container {
	position: relative; 
	background-color: #fff;
	border: black 1px solid;
	overflow: hidden;
}

.formfield-select--container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 110%;
	height: auto;
	border: 0; 
	margin: 0;
	padding: .75em;
	border-radius: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.formfield-select--container::after {
	content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}

option {
    padding: 10px;
    background-color: white;
}

option:disabled {
    background-color: rgba(0, 0, 0, 0.1);
}

#civ:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

thead {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.25);
}

tbody {
    background-color: white;
    color: black;
}

td {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}

#cancel {
    display: none;
}

#found {
    display: none;
}

body {
    background: linear-gradient(-45deg, #2d2f39, #22232b);
    background-size: 1000% 1000%;
    animation: gradient 10s ease infinite;
    color: white;
}
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}